
\.vscode/

build/
build*/
data/points_ground\.laz

data/points_nonground\.laz

\.vs/
CMakeLists.txt.user
src/.DS_Store
.DS_Store

installer/app/
installer/Link/
installer/redist/
installer/LinkNoCuda/
installer/Link.ism
installer/LinkNoCuda.ism

installer/

\.idea/

*.tif

data/zy301a_bwd_015987_022180_20141125115434_01_sec_0001_1412199444_rpc\.txt

data/zy301a_fwd_015987_022180_20141125115337_01_sec_0001_1412195887_rpc\.txt

data/mosaic\.tfw

data/mosaic\.tif\.aux\.xml

data/mosaic\.tif\.ovr

data/NE48E013003U\.IMG

data/NE48E013004U\.IMG

data/NE48E014003U\.IMG
/ruby/h2o_osketch/osketch.pdb
/ruby/h2o_osketch/osketch.so
/ruby/h2o_osketch/dlls/*
data/
/ruby/h2o_osketch/Resources/OSketch_zh_CN.qm
/ruby/h2o_osketch/Resources/OSketch_zh_CN.qm

ruby/h2o_osketch/osketchd\.pdb

ruby/h2o_osketch/osketchd\.so

ruby/h2o_osketchpro/dlls/

ruby/h2o_osketchpro/Resources/OSketch_zh_CN\.qm

build-als/

ruby/h2o_osketchals/dlls/

ruby/h2o_osketchals/Resources/OSketchPro_zh_CN\.qm

ruby/h2o_osketchals/Resources/OSketchALS_zh_CN\.qm

ruby/h2o_osketchals/osketchals\.pdb

ruby/h2o_osketchals/osketchals\.so

ruby/h2o_osketchpro/osketchpro\.so

ruby/h2o_osketchpro/osketchprod\.pdb

ruby/h2o_osketchpro/osketchprod\.so

ruby/h2o_osketchpro/Resources/OSketchPro_zh_CN\.qm

ruby/h2o_osketchpro/osketchpro\.pdb

ruby/h2o_osketchpro/Resources/OSketchProPluginOsgb_zh_CN\.qm

ruby/h2o_osketchpro/Resources/OSketchProPluginPhotos_zh_CN\.qm

*.qm
